body {
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clr {
    width: 280px;
}

.fstyle {
    background-color: white;
    text-align: center;
    padding: 20px;
    width: 280px;
    height: 400px;
    border: 2px solid rgb(190, 7, 7);

}

input {
    width: 67px;
    height: 30px;
    background-color: rgb(245, 250, 250);
    color:black;
    font-size: 22px;
}

#clear {
    width: 275px;
    height: 50px;
}
forms{
}