body {
    background-color: aqua;
}

.container {
    /* text-align: center; */
    padding: 100px 200px;
    background-image: linear-gradient(45deg, red, yellow, green);
    /* border: 1px solid blue; */
    display: inline-block;
    width: 80%;
    /* height: 300px; */
    margin: 50px 300px;
}


/* .player1 {
    margin-left: 200px;
    border: 1px solid blue;
    width: 200px;
}

.player2 {
    margin: 20px;
    border: 1px solid blue;
    width: 200px;
}

.player2 {
    margin-right: 200px;
    border: 1px solid blue;
    width: 200px;
} */

button {
    padding: 10px;
    border: none;
    font-size: 20px;
    width: 200px;
    color: white;
    background-color: green;
}

#result {
    font-size: 50px;
    margin-top: 80px;
}